@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fff;
  background-color: #243642;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #629584;
  --secondary-color: #387478;
  --accent-color: #E2F1E7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;